@model IEnumerable<Blog.Models.Blog.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {
    <div class="row">
        <div class="col-lg-6">
            <a asp-action="Details" asp-route-id="@item.ID">@item.Title</a>
        </div>
    </div>
}
