@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@ViewData["Message"]</h3>

<address>
    Think Deep<br />
    Surrey, BC 10082 148TH<br />
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nguyentudat@gmail.com">Support@example.com</a><br />
    <strong>Tutorial Videos:</strong> <a href="mailto:nguyentudat@yahoo.com">Marketing@example.com</a>
</address>
